
.orion-main {
	-webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
	box-shadow:  0 4px 15px rgba(0, 0, 0, 0.3);
	-webkit-transition: box-shadow 0.2s linear;
	-moz-transition: box-shadow 0.2s linear;
	-ms-transition: box-shadow 0.2s linear;
	-o-transition: box-shadow 0.2s linear;
	transition: box-shadow 0.2s linear;
	border-bottom: 2px solid #606062;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	float: left;
	width: 100%;
	z-index: 500;
	height: 105px;
	background: #2e2e30; /* Old browsers */
}

.orion-logo {
	background: url("images/orion-transparent-large.png") no-repeat;
	height: 100px;
	width: 118px;
	display: inline-block;
	float: left;
	padding: 5px 10px;
	margin-top: 11px;
	margin-left: 25px;
	text-indent: -1000px;
	-webkit-transition: opacity 0.1s ease-in-out;
	-moz-transition: opacity 0.1s ease-in-out;
	-ms-transition: opacity 0.1s ease-in-out;
	-o-transition: opacity 0.1s ease-in-out;
	transition: opacity 0.1s ease-in-out;
}

.orion-main ul li a {
	font-weight: 500;
	text-decoration: none;
	white-space: nowrap;
	line-height: 60px;
	font-weight: 700;
	font-size: 12px;
	color: #DDD;
	padding: 24px 13px;
}

ul, menu, dir {
	list-style-type: disc;
}

.orion-main ul li {
	vertical-align: middle;
	display: inline;
	margin: 0 2px;
	color: black;
	list-style-type: none;
}

#nav-wrapper {
	position: relative;	
}

.main-bg{
	/* background-color: #2A5669; */
	top: 60px;
	position: fixed;
	width: 100%;
}

 .layout-default{
	background-color: #2A5669;
	top: 60px;
	position: fixed;
	width: 100%;
}

#main-bg {
	
	top: 60px;
	position: fixed;
	width: 100%;
}

/* .container_10 {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
} */

#main-nav ul {
	float: right;
	margin: 0;
	margin-top:25px;
	margin-right:25px;
}

user agent stylesheetul, menu, dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

body { 

/* Webkit (Chrome 11+) */ 
	/* background-image: -webkit-linear-gradient(top, #5D5D5D 0%, #3D3D3D 100%); */
	background:#333;
	font: 16px Helvetica, Arial; 
	color: #58595B; 
	margin:0;
}

.home #main-wrapper {
	top: 460px;
	padding: 50px 0 0 0;
}



article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

.orion-welcome-background{
	margin-top:0;
	background: #F9F7F3; /* Old browsers */
/*	background: -moz-radial-gradient(center, ellipse cover,  #444 0%, #111 100%); 
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#444), color-stop(100%,#111)); 
	background: -webkit-radial-gradient(center, ellipse cover,  #444 0%,#111 100%); 
	background: -o-radial-gradient(center, ellipse cover,  #444 0%,#111 100%); 
	background: -ms-radial-gradient(center, ellipse cover,  #444 0%,#111 100%); 
	background: radial-gradient(ellipse at center,  #444 0%,#111 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444', endColorstr='#111',GradientType=1 );  */
}

.orion-container {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

.orion-start-background{
	width: 100%;
	z-index: 500;
	-webkit-box-shadow: 0 -2px 15px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 -2px 15px rgba(0,0,0,0.25);
	box-shadow: 0 -2px 15px rgba(0, 0, 0, 0.25);
	border-bottom: 1px dashed rgba(0, 0, 0, 0.8);
	padding-top: 20px;
	height:930px;width:100%;
	background: #444; /* Old browsers */
	background: -moz-linear-gradient(top, #444 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #444 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #444 0%,#0e0e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #444 0%,#0e0e0e 100%); /* IE10+ */
	background: linear-gradient(to bottom, #444 0%,#0e0e0e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}

.orion-contact-content{
	width: 768px;			/* Set to slidorion width. Is equal to #slider + #accordion width */
	height: 400px;			/* Set to slidorion height. Is equal to #slider and #accordion height */
	position: relative;
	left: 50%;
	margin-left: -384px;
	padding: 10px;
}

.orion-ol{
	list-style:none;

	
}	

.orion-li{
	padding:10px;
	padding-left:0;
}	

.orion-li:hover{
	opacity:0.6;
}

.orion-contact{
	line-height:30px;
	padding-left:10px;
	vertical-align:20px;
	font-size: 14px;
	color:#58595b;
}

.css-vertical-text {
	color:#333;
	border:0px solid red;
	writing-mode:tb-rl;
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-o-transform: rotate(-90deg);
	white-space:nowrap;
	display:block;
	bottom:0;
	width:20px;
	height:20px;
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
	font-size:24px;
	font-weight:normal;
	text-shadow: 0px 0px 1px #333;
}

.v2 footer {
	position: absolute;
	bottom: 5%;
	width: 100%;
	font-size: 12px;
}

footer {
	width: 960px;
	padding-top: 40px;
	padding-bottom: 10px;
	font-size: 10px;
	color:white;
}

footer ul li{
	display:inline;
	text-decoration:none;
	color:white;
	padding-right:10px;
}

footer ul li a{
	text-decoration:none;
	color:white;
}

.v2 footer ul {
	width: 960px;
	margin: auto;
	display: block;
	padding-top: 8px;
	display:inline;
	color:white;
	text-decoration:none;
}


#getstartedcontent {
	width: 800px;
	margin-top: 35px;
}

hr.clear {
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	border-width: 0;
	margin: 0;
	padding: 0;
}

#getstartedcontent .roundedbox.short {
	margin-bottom: 20px;
}


#getstartedcontent .roundedbox {
	height: 150px;
	margin-bottom: 40px;
}
.roundedbox {
	position: relative;
	background: rgba(255, 255, 255, 0.05);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #555;
	color:white;
}

#getstartedcontent .roundedbox .content {
	padding: 5px 25px 0;
	width: 438px;
	font-size: 12px;
	line-height: 16px;
}

#getstartedcontent .roundedbox div {
	float: left;
}

#getstartedcontent .roundedbox .icon {
	width: 310px;
	background-color: rgba(255, 255, 255, 0.1);
}

#getstartedcontent .roundedbox div {
	float: left;
}

#getstartedcontent .roundedbox .content p {
	margin-bottom: 5px;
	line-height: 16px;
}

.content h3 {
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
}

.bold {
	font-weight: bold;
}
.yellow {
	color: #FFD900;
	text-decoration: none;
}

.orion-slogan {
	position: absolute;
	color: 
	#DDD;
	top: 36px;
	left: 180px;
	font-size: 12px;
	width: 170px;
	line-height: 18px;
	font-style: italic;
}