@CHARSET "ISO-8859-1";

hr.clear { display:block; clear:both; visibility:hidden; height:0; border-width:0; margin:0; padding:0; }
body { 	background: #1397a8 url('images/bg.png') repeat-x;
		color:#FFF;
		font-family:arial, helvetica, sans-serif;
		font-size:12px;
}
a { color:#FFF; text-decoration:none;}
#tagline { padding-left:40px; padding-top:30px; }
#container { width:960px; margin:0 auto; position: relative;}

header { padding-top:10px;float:right; font-style:italic; }
header ul li { float:left; padding-left:30px; }
footer { width:960px; padding-top:40px; padding-bottom:10px; float:left; }
footer ul li { float:left; padding-right:30px; }
#copyright { float:right;}

.roundedbox {  position:relative; background:rgba(255,255,255,0.05);  -moz-border-radius:3px; -webkit-border-radius:3px; border:1px solid #4ba4b6; }
#navblock { padding-left:256px; position:relative; }
#navblock .roundedbox { float:left; margin-right:22px; }
#navblock .roundedbox a { display:block;padding-top:26px; height:38px; font-size:14px; color:rgba(255,255,255,0.7);}
#arrow { position:absolute; top:30px; left:225px; }
#tryit, #getstarted { width:126px; height:64px; }
#tryit a, #getstarted a { text-align:center; }
#watchit {  height:64px; }
#watchit a { display:inline !important; float:left; text-align:left; padding-left:20px; width:70px;}
.videowindow { float:left; width:68px; height:64px; padding-top:12px; padding-right:16px;}
#editorcontainer { background:transparent url('images/editor.png') no-repeat top center; height:461px;  width:780px; padding:48px 90px; margin-top:0px; }
#editorNav { background: #404040; height:50px; }
#editorNav .right { float:right; position:relative; top:20px; right:10px;}
#editorNav .right img { padding-left:5px; cursor:pointer;}
#editorNav .left { float:left; width:500px;}
#editorNav .left p { float:left; width:90px; }
#editorNav .left .box { padding-top:25px; font-size:13px; }
#editorNav .left .box a {padding-right:20px; cursor:pointer;}
#editorNav .left .box a.first {padding-left:40px; cursor:pointer;}
#examples { margin-left:90px; margin-top:7px; background:transparent url(images/examples.png) no-repeat; }
#logosmall {float:left; padding:1px 4px; margin-right:20px;}
#editorDiv { color:#000; height:411px; }
#social { float:left; width:260px; }
#social img { padding-bottom:5px; }
#social span { font-size:18px; position:relative; left:5px; top:-15px;}
.newsfeed { width:100%; display:none;}
.newsfeed tr td { padding:10px 5px; }
.newsfeed tr td.date {font-weight:bold; vertical-align:top; font-size:10px; text-align:center;}
.newsfeed tr td.content { border-top:1px solid rgba(255,255,255,0.3) }
.yellow { color:#ffd900; }
.bold { font-weight:bold; }
.v2 #copyright{padding-right: 0}
.v2 #gplus{padding-left:65px;padding-top: 4px;}
.v2 footer ul{width: 960px;margin: auto;display: block;padding-top:8px;}
.v2 #social{clear:both;padding:45px 0 40px 95px;}
.v2 #signup{
  width: 400px;
  height: 95px;
  position:fixed;
  left: 50%;
  top:40%;
  margin-left: -195px;

  padding: 0;
  float: none;
  text-align: center;
}
.v2 footer{position:absolute;bottom: 5%;width: 100%;}
.v2 #tagline{padding:0;margin:auto;display:block;left:57px;top:5%;   left: 50%; position:fixed;  margin-left: -423px;}


.addthis_toolbox{clear:both;;float:left;margin:auto;text-align: center;padding-left:19%;padding-top:10px;padding-bottom:100px;}

.v2 #social #google_plus{width: 100%;clear:both;margin-top:15px;display: block}

/* Community Tags */
#jctagline { padding-left:90px; padding-top:50px; padding-bottom:20px;}
#communitycontent { width:800px; padding-left:80px; }
#communitycontent .roundedbox { height:120px; margin-bottom:40px;}
#communitycontent .roundedbox div { float:left; }
#communitycontent .roundedbox .left { width:230px; background-color:rgba(255,255,255,0.1);}
#communitycontent .roundedbox .content { width:360px; padding-left:40px; font-size:14px;line-height:16px; }
.content h3 { font-size:22px; line-height:24px; font-weight:normal; padding:20px 0 10px;} 
#communitycontent .roundedbox .right { width:120px; padding-left:30px; padding-top:28px;}
#communitycontent .roundedbox .right ul li { padding:7px; font-weight:bold; font-size:14px; }
#communitycontent .roundedbox .right.tall { padding-top:4px; }
#github { position:absolute; }

/* Getting Started Tags */

#gstagline { padding: 50px 90px 20px; }
#getstartedcontent { width:800px; padding-left:80px; }
#getstartedcontent .roundedbox { height:150px; margin-bottom:40px; }
#getstartedcontent .roundedbox.short { margin-bottom:20px; }
#getstartedcontent .roundedbox div { float:left }
#getstartedcontent .roundedbox .icon { width:310px; background-color:rgba(255,255,255,0.1);}
#getstartedcontent .roundedbox .content { padding:5px 25px 0; width:438px; font-size:14px;line-height:16px;}
#getstartedcontent .roundedbox .content p { margin-bottom:5px;  }
#signupoverlay { text-align:center; padding:50px; min-height:90px;}
#signupoverlay form { padding-left:140px; padding-top:10px; }

.or { width:800px; text-align:center; font-size:16px; margin-bottom:20px;}

/* Signup Tags */
#thankyou { padding:50px 80px; }
#thankyou h1 { font-size:32px; padding:25px 0; font-weight:bold; }
#thankyou p { font-size:16px; line-height:110%; margin-bottom:15px;}
#thankyou a { font-size:14px; }
#error, #queue { padding-left:10px;  font-weight:bold; }
#error {display:none; }
#signup { float:left; width:550px;   padding-left:80px; }
#signup form { padding-top:15px; }
#signupemail { background:transparent url('images/signupform.png') no-repeat; border:0px; width:255px; height:45px; margin-right:-10px; padding-left:10px; font-size:18px; float:left;}
.empty { color:#c7c8ca; }
#signupsubmit { background:transparent url('images/signupbutton.png') no-repeat; border:0px; width:135px; height:44px; float:left; cursor:pointer;}
#signupsubmit.queue {  background:transparent url('images/queueupbutton.png') no-repeat !important; }
/* tooltip styling. by default the element to be styled is .tooltip  */
.tooltip {
	display:none;
	background:transparent url(images/tooltip.png);
	font-size:12px;
	font-weight:bold;
	line-height:18px;
	text-align:center;
	height:31px;
	width:140px;
	padding:25px 5px;
	color:#fff;	
}
 
/* style the trigger elements */
#watchit img {
	border:0;
	cursor:pointer;
	margin:0 8px;
}

.simple_overlay {
	
	/* must be initially hidden */
	display:none;
	
	/* place overlay on top of other elements */
	z-index:10000;
	
	/* styling */
	background-color:#333;
	text-align:center;
	width:675px;	
	min-height:200px;
	border:1px solid #666;
	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	
}

/* close button positioned on upper right corner */
.simple_overlay .close {
	background-image:url(images/close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}
.linkcursor { cursor:pointer; }